[Unit]
Description=Controller of NFC reader, lock, UHF reader, logements.

[Service]
ExecStart=/usr/bin/python3 /home/pi/artmp/v4/main.py
WorkingDirectory=/home/pi/artmp/v4
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lockauth
Restart=always

[Install]
WantedBy=multi-user.target


