
# На Raspberry: 
# Номера pin смотрите командой pinout. Используются номера указанные там в скобках.
#
# На Orange:
# Указываейте номера физических pin-ов (от 1 до 26, нечетные на одной стороне, четные на другой).

[Board]

# Raspberry или Orange
Type = Raspberry

[RedLed] # Красная лампочка

# Используемый выход или 0, если не используется.
Pin = 0

# Уровень активного состояния.
# 0, если светится при выдаче логического "0".
# 1, если светится при выдаче логической "1".
ActiveLevel = 0

# Время, на которое она включается в секундах
BlinkDuration = 1

[GreenLed] # Зеленая лампочка

# Используемый выход или 0, если не используется.
Pin = 0

# Уровень активного состояния.
# 0, если светится при выдаче логического "0".
# 1, если светится при выдаче логической "1".
ActiveLevel = 0

[OpenSensor] # Датчик открытого положения

# Используемый вход или 0, если не используется.
Pin = 0

# Уровень, читаемый в открытом положении.
# 0, если на входе в открытом положении логический "0" (0 вольт относительно GND).
# 1, если на входе в открытом положении логическая "1".
ActiveLevel = 1

# Включение встроенной подтяжки входа к логической "1".
# 0 - выключена, 1 - включена.
PullUp = 1

[OpenMotor] # Включение движения на открытие

# Используемый выход или 0, если не используется.
Pin = 0

# Уровень активного состояния.
# 0, если при выдаче логического "0" происходит движение.
# 1, если при выдаче логической "1" происходит движение.
ActiveLevel = 1

[CloseMotor] # Включение движения на закрытие

# Используемый выход или 0, если не используется.
Pin = 0

# Уровень активного состояния.
# 0, если при выдаче логического "0" происходит движение.
# 1, если при выдаче логической "1" происходит движение.
ActiveLevel = 1

# Время движения на закрытие, применяемое один раз, если при старте был активен датчик открытого положения.
FirstCloseTime = 5

# Задержка в открытом состоянии перед началом закрытия.
DelayBeforeClose = 5

[GenericPeripheral] # Модули управления замком+считывателем и модули входов, поддерживающие команду "T"

# USB VID-ы USB-преобразователей, через которые подключены модули. Если несколько, то через пробел.
# Посмотреть можно, например, так: udevadm info /dev/ttyUSB0 | grep ID_VENDOR_ID
UsbVids = 1a86 0403

# Скорость обмена с переферийными модулями в бодах.
BaudRate = 9600

[Inputs] # Входы кнопок

# USB VID-ы USB-преобразователей, через которые подключены старые модулей кнопок, не поддерживающие команду "T". Если несколько, то через пробел.
# Посмотреть можно, например, так: udevadm info /dev/ttyUSB0 | grep ID_VENDOR_ID
# Для целей совместимости. Может быть удалено в будущем, когда не останется модулей без поддержки команды "T".
UsbVids = 

# Скорость обмена с переферийными модулями в бодах.
BaudRate = 9600

# Период опроса переферийных модулей в секундах.
PollPeriod = 1

# =1, если переназначать номера кнопок согласно файлу inputsmap.cfg.
# =0, если не переназначать.
Remap = 1

[Uhf]

# USB VID USB-преобразователя, через который подключен считыватель.
# Посмотреть можно, например, так: udevadm info /dev/ttyUSB0 | grep ID_VENDOR_ID
UsbVids = 067b

# Скорость обмена со считывателем в бодах.
BaudRate = 57600

# Номера используемых на считывателе антен. От 1 до 4. Можно указать несколько через пробел.
Antennas = 1 2 3 4

[Inventory]

# Продолжительность проведения инвенторизации в секундах.
Duration = 15

[Nfc]

Active = 0

[Server]

# URL, куда происходят обращения для аутентификации.
AuthUrl = http://back.vm-28315a70.na4u.ru/api/integration/module/authorization

# URL, куда происходят обращения для отправки результатов инвенторизации.
InventoryUrl = http://back.vm-28315a70.na4u.ru/api/integration/module/mixed

# ID модуля, передаваемое в запросах на сервер
Module = 2f0be958-59f6-310d-92b1-9b655a9abd5e
